// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-activity-body {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}
.card-activity-body::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    overflow-y: hidden;
}
.card-activity-body::-webkit-scrollbar-track {
    background: #eee;
}
.card-activity-body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #0d6efd, #0dcaf0);

}
.error {
    color: red;
    font-weight: bold;
}
